<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Familiares</title>
</head>
<body>
    <h2> Mi mamá se llama {{nombre_madre}}, tiene {{edad_madre}} años y su fecha de nacimiento es {{nacimiento_madre}} </h2> </br> </br>
    <h2> Mi papá se llama {{nombre_padre}}, tiene {{edad_padre}} años y su fecha de nacimiento es {{nacimiento_padre}} </h2> </br> </br>
    <h2> Mi hermano se llama {{nombre_hermano}}, tiene {{edad_hermano}} años y su fecha de nacimiento es {{nacimiento_hermano}} </h2> </br> </br>
</body>
</html>